



@font-face {
    font-family: 'dark-and-black';
    src: url('/fonts/darkandblack.otf') format('opentype')
}

@font-face {
    font-family: 'lekton';
    src: url('/fonts/Lekton-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'lekton';
    src: url('/fonts/Lekton-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'lekton';
    src: url('/fonts/Lekton-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'jmh-typewriter';
    src: url('/fonts/JMH-Typewriter.ttf') format('truetype');
    
}

@font-face {
    font-family: 'jmh-typewriter';
    src: url('/fonts/JMH-Typewriter-Black.ttf') format('truetype');
    font-style: black;
}

@font-face {
    font-family: 'jmh-typewriter';
    src: url('/fonts/JMH-Typewriter-Bold.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: 'jmh-typewriter';
    src: url('/fonts/JMH-Typewriter-Thin.ttf') format('truetype');
    font-style: thin;
}

@font-face {
    font-family: 'alte-caps';
    src: url('/fonts/Alte-Caps.ttf') format('truetype');
   
}


a{
    text-decoration: none;
   /* color: #330b00; */
    color: rgb(10, 65, 114);
    font-family: 'jmh-typewriter';
   
   /* color: rgb(129, 173, 211)*/
}

.layout{
    font-family: 'jmh-typewriter';
    color: #330b00;
    /*color: #3e1801;*/
    background-color: #f11;
   
}

header, footer{
    display: inline-block;
   
}



#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

  /* Dropdown Button */
header .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .user-input{
      color: #1b0000;
  }

  #error {
      color: #c03015;
      font-weight: bold;
  }

  .input-box{
   
  }