<form class = "layout" action = "/case_files" method = "post">
<label><h1>Case File Name: </h1></label>
<input type = "text" name = "name">
<br>

<label>Case File Date: </label>
<input type = "text" name = "date">
<br>

<label>Time of Day: </label>
<input type = "text" name = "time">
<br>

<h2>Where did this happen? </h2>
<label>Country: </label>
<input type = "text" name = "country">
<br>
<label>State/Province</label>
<input type = "text" name = "location">
<br>

<h2>Do you need to make a new encounter?</h2>
<input type = "radio" value = true>Yes</input><br>
<input type = "radio" value = false>No</input><br>

<input type = "submit" value = "Create">
</form>