<h1>Create New User</h1>

<form action = "/signup" method = "POST">

<label>Name:</label>
<input type = "text" name = "username" ><br>
<label>Email:</label>
<input type = "text" name = "email" ><br>
<label>Password:</label>
<input type = "password" name = "password"><br>
<label>Are you a member of the military?</label><br>
<input type = "radio" name = "is_military" value = "true"><label>yes</label></input>
<input type = "radio" name = "is_military" value = "false"><label>no</label></input>

<br>
<label>Are you a member of law inforcment?</label>
<br>
<input type = "radio" name = "is_law_inforcement" value = "true"><label>yes</label></input>
<input type = "radio" name = "is_law_inforcement" value = "false"><label>no</label></input>
<br>
<input type = "submit" value = "Sign Up">

</form>