
<h1 class = "layout">Report An Encounter</h1>
<form class = "layout" action = "/encounters" method = "POST">
<div >
<label>Encounter Name: </label>
<input  type ="text" name = "name" >
</div>
<br>
<div >
<label>Date: </label>
<input  type = "text" name = "date">
</div>
<br>

<div class = "container">

<!-- Autocomplete location search input --> 
<div class="form-group">
    <label>Location:</label>
    <input type="text" class="form-control" id="search_input" placeholder="Type address..." />
    <input type="hidden" id="loc_lat" />
    <input type="hidden" id="loc_long" />
</div>

<!-- Display latitude and longitude -->
<div class="latlong-view">
    <p><b>Latitude:</b> <span id="latitude_view"></span></p><input type = "text" id ='latitude_input'>
    <p><b>Longitude:</b> <span id="longitude_view"></span></p><input type = "text" id ='longitude_input'>
</div>
    
</div>

<div >
<label>Description: </label>
<input  type = "text" name = "description">
</div>
<br>

<label>Was the Military Involved?</label>
<br>
<input type = "radio" name = "military_involved" value = "true">Yes</input><br>
<input type = "radio" name = "military_involved" value = "false">No</input><br>

<label>Was Law Enforcement Involved?</label>
<br>
<input type = "radio" name = "law_enforcement_involved" value = "true">Yes</input><br>
<input type = "radio" name = "law_enforcement_involved" value = "false">No</input><br>

<label>Did this happen to you??</label>
<br>
<input type = "radio" name = "happen_to_user" value = "true">Yes</input><br>
<input type = "radio" name = "happen_to_user" value = "false">No</input><br>

<label>This as a Close Encounter of the...</label><br>
<input type ="radio" name = "kind">First Kind<p>Visual sightings of an unidentified flying object, seemingly less than 500 feet (150 m) away, that show an appreciable angular extension and considerable detail</p></input><br>
<input type ="radio" name = "kind">Second Kind<p>A UFO event in which a physical effect is alleged; this can be interference in the functioning of a vehicle or electronic device, animals reacting, a physiological effect such as paralysis or heat and discomfort in the witness, or some physical trace like impressions in the ground, scorched or otherwise affected vegetation, or a chemical trace[</p></input><br>
<input type ="radio" name = "kind">Third Kind<p>UFO encounters in which an animated entity is present—these include humanoids, robots, and humans who seem to be occupants or pilots of a UFO</p></input><br>
<input type ="radio" name = "kind">Fourth Kind<p>A Close Encounter of the Fourth Kind is a UFO event in which a human is abducted by a UFO or its occupants.</p></input><br>
<input type ="radio" name = "kind">Fifth Kind<p>A Close Encounter of the Fifth Kind is a UFO event that involves direct communication between aliens and humans.</p></input><br>
<input type ="radio" name = "kind">Sixth Kind<p>Death of a human or animal associated with a UFO sighting (though this could be considered a more severe example of a second-kind encounter)[</p></input><br>
<input type ="radio" name = "kind">Seventh Kind<p>The creation of a human/alien hybrid, either by sexual reproduction or by artificial scientific methods</p></input><br>

<input type = "Submit" value = "SUBMIT">
</form>