<head>

<script src="jquery-3.5.1.min.js"></script>
<script src="/js/jquery.min.js"></script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var searchInput = 'search_input';

$(document).ready(function () {
    var autocomplete;
    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
        types: ['geocode'],
    });
	
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var near_place = autocomplete.getPlace();
        document.getElementById('loc_lat').value = near_place.geometry.location.lat();
        document.getElementById('loc_long').value = near_place.geometry.location.lng();
		
        document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
        document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();

      
    });
});

$(document).on('change', '#'+searchInput, function () {
    
   <% # document.getElementById('latitude_input').value = '';
      # document.getElementById('longitude_input').value = ''; %>
	
    document.getElementById('latitude_view').innerHTML = '';
    document.getElementById('longitude_view').innerHTML = ''; 
});
</script>



<style>
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('/images/the_night_sky_1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

</head>


<div class = "parallax" style = "height: 33px;"></div>
<div class = "parallax">

<h1 class = "layout e_top">Report An Encounter</h1>

</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBymQk6keNx_H7Pk1awWHv6M4UUt_9waGY"></script>





<div class = "parallax">

    <form class = "layout e_page" action = "/encounters" method = "POST">
    <div >
    <label>Encounter Name: </label>
    <input  type ="text" name = "name" >
    </div>
    <br>
    <div >
    <label>Date: </label>
    <input  type = "text" name = "date">
    </div>
    <br>

    <div class = "container">

    <!-- Autocomplete location search input --> 
    <div class="form-group">
        <label>Location:</label>
        <input type="text" class="form-control" id="search_input" name = "location" placeholder="Type address..." />
        <input type="hidden" name = "latitude" id="loc_lat" />
        <input type="hidden" name = "longitude" id="loc_long" />
    </div>

    <!-- Display latitude and longitude -->
    <div class="latlong-view">
        <p><b>Latitude:</b> <span id="latitude_view" ></span></p>        <!-- <input type = "text" id ='latitude_input'>  -->
    

        <p><b>Longitude:</b> <span id="longitude_view" ></span></p>                         <!-- <input type = "text" id ='longitude_input'> -->
    </div>

    </div>

    <div >
    <label>Description: </label>
    <input  type = "text" name = "description">
    </div>
    <br>
   
    <label>Was the Military Involved?</label>
    <br>
    <input type = "radio" name = "military_involved" value = "true">Yes</input><br>
    <input type = "radio" name = "military_involved" value = "false">No</input><br>

    <label>Was Law Enforcement Involved?</label>
    <br>
    <input type = "radio" name = "law_enforcement_involved" value = "true">Yes</input><br>
    <input type = "radio" name = "law_enforcement_involved" value = "false">No</input><br>

    <label>Did this happen to you??</label>
    <br>
    <input type = "radio" name = "happen_to_user" value = "true">Yes</input><br>
    <input type = "radio" name = "happen_to_user" value = "false">No</input><br>

    <label>This as a Close Encounter of the...</label><br>
    <input type ="radio" name = "kind" value = 1>First Kind<p>Visual sightings of an unidentified flying object, seemingly less than 500 feet (150 m) away, that show an appreciable angular extension and considerable detail</p></input><br>
    <input type ="radio" name = "kind" value = 2>Second Kind<p>A UFO event in which a physical effect is alleged; this can be interference in the functioning of a vehicle or electronic device, animals reacting, a physiological effect such as paralysis or heat and discomfort in the witness, or some physical trace like impressions in the ground, scorched or otherwise affected vegetation, or a chemical trace[</p></input><br>
    <input type ="radio" name = "kind" value = 3>Third Kind<p>UFO encounters in which an animated entity is present—these include humanoids, robots, and humans who seem to be occupants or pilots of a UFO</p></input><br>
    <input type ="radio" name = "kind" value = 4>Fourth Kind<p>A Close Encounter of the Fourth Kind is a UFO event in which a human is abducted by a UFO or its occupants.</p></input><br>
    <input type ="radio" name = "kind" value = 5>Fifth Kind<p>A Close Encounter of the Fifth Kind is a UFO event that involves direct communication between aliens and humans.</p></input><br>
    <input type ="radio" name = "kind" value = 6>Sixth Kind<p>Death of a human or animal associated with a UFO sighting (though this could be considered a more severe example of a second-kind encounter)[</p></input><br>
    <input type ="radio" name = "kind" value = 7>Seventh Kind<p>The creation of a human/alien hybrid, either by sexual reproduction or by artificial scientific methods</p></input><br>

    <input type = "Submit" value = "SUBMIT">
    </form>
</div>