<!doctype html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">







<link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />

</head>

<body >
<header class = "layout">


<div class="dropdown">
  <button id = "blank_box" class="dropbtn"><a  href = '/'><h1>UFO Tracker</h1></a></button>
  <div class="dropdown-content">
  <% if logged_in? %>
  <a id = "blank_box" href = '/users/<%= current_user.slug %>'><%= current_user.username %>'s Profile</a>
  <a id = "blank_box" href = "/encounters/new">Report A UFO</a>
  <a id = "blank_box" href = '/encounters'>Explore UFO Encounters</a>
  <a id = "blank_box" href = '/users/<%= current_user.slug %>/edit'>edit my page</a>
  <a id = "blank_box" href = '/logout'>Log Out</a>
<% else %>

  <a href = '/login'>Log In</a>
  <a href = '/signup'>Sign Up</a>
<% end %>

  </div>
</div>

</header>









<%= yield %>
<footer class = "layout">
<h3>The Truth Is Out There</h3>
</footer>
</body>

</html>