<!doctype html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">



<script src="jquery-3.5.1.min.js"></script>
<script src="/js/jquery.min.js"></script>



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBymQk6keNx_H7Pk1awWHv6M4UUt_9waGY"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var searchInput = 'search_input';

$(document).ready(function () {
    var autocomplete;
    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
        types: ['geocode'],
    });
	
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var near_place = autocomplete.getPlace();
        document.getElementById('loc_lat').value = near_place.geometry.location.lat();
        document.getElementById('loc_long').value = near_place.geometry.location.lng();
		
        document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
        document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();

      
    });
});

$(document).on('change', '#'+searchInput, function () {
    
   <% # document.getElementById('latitude_input').value = '';
      # document.getElementById('longitude_input').value = ''; %>
	
    document.getElementById('latitude_view').innerHTML = '';
    document.getElementById('longitude_view').innerHTML = ''; 
});
</script>




<link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />

</head>

<body >
<header class = "layout">


<div class="dropdown">
  <button class="dropbtn"><a  href = '/'><h1>UFO Tracker</h1></a></button>
  <div class="dropdown-content">
  <% if logged_in? %>
  <a href = '/users/<%= current_user.slug %>'><%= current_user.username %>'s Profile</a>
  <a href = '/logout'>Log Out</a>
<% else %>

  <a href = '/login'>Log In</a>
  <a href = '/signup'>Sign Up</a>
<% end %>

  </div>
</div>

</header>








<%= yield %>
<footer class = "layout">
<h3>The Truth Is Out There</h3>
</footer>
</body>

</html>