<!doctype html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">








<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<link rel="stylesheet" type="text/css" href="/stylesheets/basic.css" />

</head>

<body class = "layout">


<span class = "derp" style = "z-index: 3;">
 <div class="topnav" id="myTopnav">
  <a href="/encounters" class="active">UFO Tracker</a>
  <% if logged_in? %>   
    <a href = '/encounters'>Explore UFO Encounters</a>
    <a href = "/encounters/new">Report A UFO</a></li>
       
        <div id = "right-side" class="dropdown">
          <button class="dropbtn"><image class = "user_icon" src = "/images/alien_head_white_1.ico" >
            <i class="fa fa-caret-down"></i>
          </button>
          <div  class="dropdown-content">
            <a href = '/users/<%= current_user.slug %>'><%= current_user.username %>'s Profile</a>
            <a href = '/users/<%= current_user.slug %>/edit'>edit my page</a>
            <a href = '/logout'>Log Out</a>
          </div>
        </div>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  <% else %>
        <a href = '/login'>Log In</a>
        <a href = '/signup'>Sign Up</a>
  <% end %>
</div>

</span>







<main>
<%= yield %>

</main>
<footer class = "layout">
<h3>The Truth Is Out There</h3>
</footer>
</body>

</html>